<h2>Estadísticas: </h2>
</br>
<p>Número de preguntas: <%=  statistics.quizes %></p>
<p>Número de comentarios totales: <%=  statistics.comments %></p>
<p>Número medio de comentarios por pregunta: <%= statistics.mediaComments %></p>
<p>Número de preguntas sin comentarios: <%= statistics.uncommentedQuizes %></p>
<p>Número de preguntas con comentarios: <%= statistics.commentedQuizes %></p>
